node_modules/
.millennium/*
!.millennium/Dist
.millennium/Dist/*
!.millennium/Dist/index.js
dist/
*.log
movies/*
!movies/Hades.webm
!movies/thumbs
movies/thumbs/*
!movies/thumbs/Hades.jpg
frontend/index.js
